:root {
    --color-main: #f7b32b;
    --color-snd: #79bcd4de;
    --color-white: #dddddd;
    --color-grey: #c2c2c2;
    --color-black: #000000;
    --box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    --text-light: #d8d8d8;
    --text-dark: #222222;
    --text-mid: #7e7e7e;
}
@font-face {
    font-family: "Gravity";
    src: url('../style/Fonts/gravity-book.ttf');
}
@font-face {
    font-family: "Gravity";
    font-weight: bold;
    src: url('../style/Fonts/gravity-bold.ttf');
}
body {
    font-family: 'Gravity','heiti TC', 'futura', 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
    background-color: var(--color-white);
}
h2 {
    text-align: center;
}

header {
    height: 20%;
    margin: 0;
    padding-left: 3%;
    background-color: var(--color-main);
    color: var(--text-dark);
}
header h2 {
    text-align: left;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header_right {
    display: flex;
    align-items: center;
}
.header_right a {
    text-align: center;
    font-size: larger;
    color: var(--text-dark);
    text-decoration: none;
    margin-left: 5%;
}
.header_right a:hover {
    color: var(--text-mid)
}
hr {
    border: solid var(--color-black) 1px; 
    margin: 5px;
}

#main_content {
    display: flex;
    justify-content: space-between;
}

.rss {
    flex: 3;
}
.feed_cont {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.google_feed {
    flex: 1;
}
.ferme_feed {
    flex: 1;
}

.websites {
    flex: 1;
}

.others {
    flex: 1;
    text-align: center;
}


/* ____RSS FEED____________________*/

.rss_feed {
    height: 700px;
    overflow: auto;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}
.rss_feed a{
    color: var(--text-dark);
    text-decoration: none;
}
.feed-item-title {
    font-weight: bold;
    font-size: large;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--color-snd);
    opacity: 0.9;
}
.feed-item-title:hover {
    color: var(--text-mid);
    opacity: 1;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

/* ____Podacst____________________*/

.podcast {
    margin-top: 50px;
}



/*__footer__*/
.footer_cont {
    background-color: var(--color-grey);
    padding-bottom: 0;
    margin-top: 20px
}
.footer a {
    text-decoration: none;
    color: var(--text-dark);
    padding-left: 30px
}
.footer a:hover{
    color: var(--color-main)
}
.top_footer {
    display: flex;
    flex-direction: row;
}
.footer p {
    color: var(--text-dark);
    font-size: 80%; 
    text-align: center;
}